@media screen and (max-width: 1024px) {
    .mainPlayer-screen { 
        margin: 0 !important;
           
        /* background-color: blue; */
    }
   

}
@media screen and (max-width: 428px) {
    .mainPlayer-screen { 
        margin: 0 !important;
        width: 100% !important;        
        
    }
    .playlist-head > p{
        font-size: 14px !important;
    }
   

}

.mainPlayer-screen{
    width:90%;
    height:100%;
    padding: 1.5em .8em;
    margin: auto;
    overflow-y: auto;
    
    
}
.playlist-search{
    width: 100%;
}
