@media screen and (max-width: 1024px) {
    .mainPlayer-screen { 
        margin: 0 !important;
        /* padding-top: 3.5em !important; */
                   
        }
   

}
@media screen and (max-width: 428px) {
    .mainPlayer-screen { 
        margin: 0 !important;
        width: 100% !important;
        overflow-y: auto !important;
        padding-top: 3.2em !important;        
        
    }
    .playlist-head > p{
        font-size: 14px !important;
    }
   

}

.mainPlayer-screen{
    width:90%;
    height:100%;
    padding: 1.5em .8em;
    margin: auto;
    margin-top: .8em;
    overflow-y: auto;
    
    
}
.playlist-search{
    width: 100%;
}
