@media screen and (max-width: 1024px) {
  .player-seconddiv {
    height: 45% !important;
  }
  .player-screen {
    margin: 0 !important;
    padding-top: 3.2em !important;
    /* padding-top: .8em !important; */
    /* width:87% !important; */
    /* overflow-y: hidden !important; */
    /* height:70vh !important;  */
  }
}
@media screen and (max-width: 428px) {
  .player-screen {
    margin: 0 !important;
    width: 100% !important;
    
    /* overflow-y: auto !important; */
    /* height:70vh !important;  */
  }
  .player-firstdiv {
    flex-direction: column;
    width: 100% !important;
    /* background-color:blue; */
  }
  .player-seconddiv {
    width: 100% !important;
    flex-direction: row !important;
    /* align-items: center; */
    /* justify-content: space-between !important; */
    /* background-color:blue; */
  }
  
}
.mySong-name {
  color: lightgreen;
  font-style: italic;
}

.player-screen {
  width: 90vw;
  height: 100vh;
  margin: auto;
  margin-top: 1.5em;
  padding: 1.5em 0.8em;
  display: flex;
  flex-direction: column;

  /* background-color: blue; */
}
.player-firstdiv {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  height: 70%;

  /* width: 100%; */
}
.player-seconddiv {
  /* display: flex; */
  /* flex-direction: column; */
  width: 20%;
  margin-bottom: 0.6em;
  padding: 0;
  /* background-color: green; */
}
