@media screen and (max-width: 428px) {
  .main-play {
    width: 100% !important;
    /* overflow-y: hidden !important; */
    /* height:70vh !important;  */
  }
  .track-name {
    font-size: 10px !important;
  }
  .title-img {
    border-radius: 5px !important;
  }
  .fav-icon{
    font-size: 16px !important;
  }
  .search-text{
    margin-bottom: .8em !important;
  }
}
.main-play {
  /* flex:3; */
  width: 77%;
  /* background-color: yellow; */
}
.text {
  width: 100%;
}
.third-div {
  width: 3.6%;
}
.btn-fav.active {
  color: #26223e;
}
.btn-fav {
  color: #646464;
}
.playlist-body.active {
  background-color: rgba(244, 187, 146, 1);
}
