@media screen and (max-width: 428px) {
  .main-play {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 1em;
    /* background-color: blue; */
    overflow-y: auto !important;
    /* height:70vh !important;  */
  }
  .song-title {
    flex: 0.7 !important;
}
.playlist-list {
  padding: .4em 0 !important;
}
  
  .track-name, .firstDiv-name {
    font-size: 8px !important;
  }
  
  .title-subdiv >p{
    font-size: 8px !important;
  }
  .title-img {
    border-radius: 5px !important;
  }
  .fav-icon{
    font-size: 16px !important;
  }
  .search-text{
    margin-bottom: .8em !important;
  }
  .playlist-main{
    overflow-y: auto !important;
  }
  .head-head, .third-third{
    display: none !important;
  }
  .third-div{
    width: 10% !important;
    background-color: blue;
  }
  .secondDiv-name{
    width: 15% !important;
  }
  .firstDiv-name{
    width: 25% !important;
  }
}
.main-play {
  /* flex:3; */
  width: 77%;
  
  /* background-color: yellow; */
}
.playlist-main{
  overflow-y: auto;
}
.text {
  width: 100%;
}
.third-div {
  width: 3.6%;
}
.btn-fav.active {
  color: #26223e;
}
.btn-fav {
  color: #646464;
}
.playlist-body.active {
  background-color: rgba(244, 187, 146, 1);
}
