@media screen and (max-width: 428px) {
  
    .play-pause-icon{
     font-size: 52px !important;
    }
    .prev-icon, .next-icon{
        font-size: 40px !important;
    }
    .vol-down, .vol-up{
        font-size: 18px !important;
    }
    .vol-cont{
        width:20% !important;
    }
    .vol-cont{
        align-items: center;
    }
    .play-control-icons{
        width:30% !important;
        /* background-color: #0B163D; */
    }
    .control-name-detail{
        width: 100% !important;
        /* background-color: #0B163D; */
    }
    .play-control-name{
        width: 20% !important;
    }
    .control-song-title{
        font-size: 12px !important;
    }
    .control-img{
        border-radius: 5px !important;
    }
    .control-artist-title{
        font-size: 10px !important;
    }

  }

.play-control-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: .8em;
}
.play-control-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prev-icon{
    color:#207698;
    cursor:pointer;
}
.prev-icon:hover{
    color:rgba(244, 187, 146,1);
    cursor:pointer;
}
.play-pause-icon{
    color:#0B163D;
    cursor: pointer;
}
.play-pause-icon:hover{
    color:rgba(244, 187, 146,1);
}

.control-img{
    max-width:40%;
    max-height:50%;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 15px;
    margin-right: .7em;
}
.play-control-name{
    display: flex;
    width:15%;
    /* justify-content: space-between; */
    /* flex:0.18; */
    align-items: center;
    /* background-color: #0B163D; */
    padding: 0;
}
.control-name-detail{
    /* background-color: yellow; */
    width:50%;
    /* text-align: center; */
}
.control-song-title{
    font-size: 16px;
    font-weight:600;
}
.control-artist-title{
    font-size: 12px;
    /* font-weight:600; */
}

 .vol-cont{
    display:flex;
    justify-content: space-between;
    /* align-content: center; */
    width:15%;
    /* background-color: yellow; */
}
.vol-down, .vol-up{
    color:#207698;
}
.vol-bar{
    cursor: pointer;
    width:100%;
}